.hero {
  --hero-bg: var(--color-light);
  --hero-color: var(--color-dark);
  --region-space: 0;

  background: var(--hero-bg);
  color: var(--hero-color);
  display: grid;
  grid-template-rows: auto minmax(calc(var(--space-3xl) * 2), 1fr);
}

main > .hero:only-child {
  min-block-size: 100%;
}

.hero__intro {
  --gutter: 0;
  --grid-template-columns: repeat(5, minmax(0, 1fr));
  --wrapper-max-width: none;

  padding-block: var(--space-m-l);
}

.hero__content {
  align-content: center;
  display: grid;
  grid-column: 1 / 4;
  padding-inline: var(--space-xs);
}

.hero__motif {
  min-block-size: 0;
}

.hero__media {
  align-content: center;
  display: grid;
  grid-column: 3 / 6;
  padding-inline: var(--space-xs);
}

.hero__media img {
  aspect-ratio: var(--ratio-media);
  object-fit: cover;
  width: 100%;
}

.hero:has(.hero__media) {
  grid-template-rows: 1fr;
}

.hero:has(.hero__media) .hero__content {
  grid-column: 1 / 3;
}

@media (width < 48rem) {
  .hero {
    grid-template-rows: auto minmax(calc(var(--space-3xl) * 2), 1fr);
  }

  .hero__content,
  .hero__media {
    grid-column: 1 / -1;
  }

  .hero:has(.hero__media) .hero__content {
    grid-column: 1 / -1;
  }
}
