.media-content {
  --flow-space: var(--space-m);
}

.media-content .frame {
  --frame-ratio: var(--ratio-media);
}

.media-content[data-media-position='right'] .sidebar {
  flex-direction: row-reverse;
}
