.prose > * + * {
  margin-top: var(--prose-space, var(--space-m));
}

.prose > * + :where(h1, h2, h3, h4, h5, h6) {
  margin-top: var(--prose-heading-space, var(--space-l));
}

.prose > :where(h1, h2, h3, h4, h5, h6) + * {
  margin-top: var(
    --prose-heading-follow-space,
    var(--prose-space, var(--flow-space, var(--space-xs)))
  );
}

.prose > p + p {
  margin-top: var(--prose-paragraph-space, var(--prose-space, var(--flow-space, var(--space-xs))));
}

.prose :where(p, li) {
  max-width: var(--measure);
}

.prose :where(ul, ol) {
  padding-inline-start: 1.25em;
}

.prose :where(blockquote) {
  border-inline-start: var(--stroke) solid var(--color-primary);
  font-size: var(--text-size-lede);
  padding-inline-start: var(--space-s);
}
