.site-head {
  border-block-end: var(--stroke) solid var(--color-surface);
  padding-block: var(--space-s);
}

.site-head__inner {
  --gutter: var(--space-s-m);
  --repel-vertical-alignment: baseline;
}

.site-head__brand {
  font-family: var(--heading-font-family);
  font-size: var(--text-size-heading-3);
  font-weight: var(--heading-font-weight);
  letter-spacing: var(--kerning-tight);
  line-height: var(--leading-fine);
}

.site-head__brand a:not(:hover) {
  text-decoration: none;
}

.site-head__nav {
  --gutter: var(--space-s);
  font-size: var(--text-size-meta);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--kerning-caps);
  text-transform: uppercase;
}

.site-head__nav a:not(:hover):not([aria-current='page']) {
  text-decoration: none;
}
