.text {
  overflow-wrap: anywhere;
}

.text[data-eyebrow-transform='none'] {
  --eyebrow-text-transform: none;
}

.text__inner {
  max-width: var(--text-inner-max-width, var(--measure-compact));
  text-align: var(--text-alignment, start);
}

.text__content {
  max-width: var(--text-content-max-width, none);
  min-width: 0;
}

.text__eyebrow {
  background: var(--text-eyebrow-bg, transparent);
  color: currentColor;
  display: var(--text-eyebrow-display, block);
  font-weight: var(--text-font-weight, var(--font-weight-bold));
  letter-spacing: var(--eyebrow-letter-spacing, var(--kerning));
  line-height: var(--text-line-height, inherit);
  padding: var(--text-eyebrow-padding, 0);
  text-transform: var(--eyebrow-text-transform, uppercase);
  width: fit-content;
}

.text__heading {
  font-weight: var(--text-font-weight, var(--heading-font-weight));
  line-height: var(--text-line-height, var(--leading-fine));
}

.text__body {
  font-weight: var(--text-font-weight, var(--font-weight-regular));
  line-height: var(--text-line-height, inherit);
  max-width: var(--text-body-max-width, none);
}

.text[data-alignment='center'] {
  --text-alignment: center;
}

.text[data-alignment='center']
  :where(.text__inner, .text__eyebrow, .text__heading, .text__body) {
  margin-inline: auto;
}

.text[data-measure='standard'] {
  --text-body-max-width: var(--measure);
  --text-content-max-width: var(--measure);
  --text-inner-max-width: var(--measure);
}

.text[data-variant='split'] {
  --repel-vertical-alignment: flex-end;
  --text-content-max-width: var(--measure-compact);
  --text-inner-max-width: none;
}
